{% spaceless %}
    {{ zurb_ink_styles.add("@HampeZurbInkBundle/Resources/public/css/foundation-for-emails/2/foundation.min.css") }}
    {% block preHtml %}{% endblock %}
    {% inlinestyle %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width"/>
        {% block headStyles %}
            <style type="text/css">
                {% autoescape false %}
                {{ includeStyles(zurb_ink_styles) }}
                {% block aditionalStyles %}
                    {{ zurb_ink_styles.add("@AppBundle/Resources/public/css/mail.css") }}
                {% endblock %}
                {% endautoescape %}
            </style>
        {% endblock %}
    </head>
    {% inky %}
    <body>
    {% block body %}
        <table class="body">
            <tr>
                <td class="center" align="center" valign="top">
                    <center>
                        <table class="container">
                            <tbody>
                            <tr class="white-color">
                                <td>
                                    {# Header #}
                                    <table class="row">
                                        <tbody>
                                        <tr>
                                            <th class="small-12 large-12 padding-bottom">
                                                <a href="{{ url('app_homepage') }}">
                                                    <img src="{{ absolute_url(asset('bundles/app/img/menu-logo.jpg')) }}">
                                                </a>
                                            </th>
                                        <tr>
                                            <th class="blue-color">
                                                <h6>viu els idiomes!</h6>
                                            </th>
                                        </tr>
                                            <th class="expander"></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {# Body #}
                                    {% block content %}{% endblock %}
                                    {# Footer #}
                                    {% block footer %}
                                        <table class="row light-grey-background">
                                            <tr>
                                                <th class="small-6 large-1 vertical-padding ">
                                                    <a href="https://www.facebook.com/boxviuelsidiomes/">
                                                        <img src="{{ absolute_url(asset('bundles/app/img/facebook30x30.png')) }}">
                                                    </a>
                                                <th class="small-6 large-1 vertical-padding ">
                                                    <a href="#">
                                                        <img src="{{ absolute_url(asset('bundles/app/img/twitter30x30.png')) }}">
                                                    </a>
                                                </th>
                                                <th class="small-12 large-5 first columns vertical-padding">
                                                    <h6 class="grey-color">Adreça</h6>
                                                    <p class="grey-color">
                                                        C. Góngora, 40<br>
                                                        43870 Amposta<br>
                                                        (Tarragona)
                                                    </p>
                                                </th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    {% endblock %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
        {#<!-- prevent Gmail on iOS font size manipulation -->#}
        <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    {% endblock %}
    </body>
    {% endinky %}
    </html>
    {% endinlinestyle %}
{% endspaceless %}
