{% block body %}
    <h1>{{ 'mail.helloagain' | trans }}</h1>
    <p>{{ contact.description | raw }}</p>
    <br>
    <br>
    <p>
        {{ 'mail.youhave' | trans }} "{{ contact.subject }}" {{ 'mail.from' | trans }} {{ contact.createdAt | date('d/m/Y') }} {{ 'mail.at' | trans }} {{ contact.createdAt | date('H:i') }}:<br>
        <em>"{{ contact.message | raw }}"</em>
    </p>
    <br>
    <br>
    <p>{{ 'mail.thanks' | trans }}.</p>
    <br>
    <br>
{% endblock %}
