{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom logo #}
{% block logo %}
    <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
        <img src="{{ asset('bundles/app/img/backend-logo.png') }}" alt="{{ sonata_admin.adminPool.title }}">
        <span>{{ sonata_admin.adminPool.title }}</span>
    </a>
{% endblock %}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
    <p class="text-left small" style="padding:50px 0 0 20px;color:#EEE;">{{ admin_tag_version }}<br><i class="fa fa-code"></i> Desenvolupat per <a href="https://www.flux.cat" target="_blank">Flux</a><br><i class="fa fa-copyright"></i> {{ 'now' | date('Y') }} <a href="{{ path('app_homepage') }}" target="_blank">{{ main_brand_title }}</a></p>
{% endblock %}

{# custom top menu#}
{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        {{ knp_menu_render('backend_top_nav_menu', {currentClass: 'active', allow_safe_labels: true}) }}
    </div>
{% endblock %}

{# override css includes #}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="cssrewrite,less" "@mybackendcss" %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="apple-touch-icon" href="{{ asset('favicon.png') }}"/>
{% endblock %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/pdf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/pdf.worker.js') }}"></script>
{% endblock %}
