{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom logo #}
{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
            <img src="{{ asset('bundles/app/img/backend-logo.jpg') }}" alt="{{ sonata_admin.adminPool.title }}">
            <span>{{ sonata_admin.adminPool.title }}</span>
        </a>
    {% endspaceless %}
{% endblock %}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
    <p class="text-left small" style="padding:50px 0 0 20px;color:#EEE;">{{ admin_tag_version }}<br><i class="fa fa-code"></i> Desenvolupat per <a href="http://www.flux.cat" target="_blank">Flux</a><br><i class="fa fa-copyright"></i> {{ 'now' | date('Y') }} <a href="{{ path('app_homepage') }}" target="_blank">{{ main_brand_title }}</a></p>
{% endblock %}

 {#custom top menu#}
{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('app_homepage') }}"><i class="fa fa-globe"></i></a></li>
            <li><a>{{ app.user.fullname }}</a></li>
            <li><a href="{{ path('sonata_user_admin_security_logout') }}"><i class="fa fa-power-off text-success"></i></a></li>
        </ul>
    </div>
{% endblock %}

{# override css includes #}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="cssrewrite,less" '@mybackendcss' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {# TODO enable full calendar css #}
    {#<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}"#}
{% endblock %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fenrizbescolorpickertype/lib/js/iris.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fenrizbescolorpickertype/js/color_picker_type.js') }}"></script>
{% endblock %}
