{% extends ":Admin:layout.html.twig" %}

{% form_theme form _self %}

{% block checkbox_radio_label %}
    {{- widget | raw }}
{% endblock checkbox_radio_label %}

{% block sonata_admin_content %}
    <div class="sonata-ba-show">
        <div class="sonata-ba-view row">
            <div class="col-md-2">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">{{ 'backend.admin.receipt.generate_only' | trans }}</h4>
                    </div>
                    <div class="box-body">
                        {{ form(year_month_form) }}
                    </div>
                </div>
            </div>
            {% if form.items | length > 0 %}
                {{ form_start(form) }}
                    <div class="col-md-10">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h4 class="box-title">{{ 'backend.admin.receipt.list' | trans }}</h4>
                            </div>
                            <div class="box-body">
                                {# group lessons #}
                                <table class="table table-bordered table-condensed" style="margin-bottom:20px">
                                    <thead>
                                        <tr class="info">
                                            <th colspan="7" class="text-center">
                                                {{ 'backend.admin.receipt.group_lessons_list' | trans }}<br>
                                                <span style="font-weight:normal">{{ 'backend.admin.receipt.group_lessons_list_help' | trans }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input id="mark-all-group-helper" type="checkbox" name="mark-all-group-helper">
                                            </th>
                                            <th>{{ 'backend.admin.receiptLine.isPreviouslyGenerated' | trans }}</th>
                                            <th>{{ 'backend.admin.student.student' | trans }}</th>
                                            <th>{{ 'backend.admin.invoiceLine.units' | trans }}</th>
                                            <th>{{ 'backend.admin.invoiceLine.priceUnit' | trans }}</th>
                                            <th>{{ 'backend.admin.student.discountApplied' | trans }}</th>
                                            <th class="text-right">{{ 'backend.admin.student.total' | trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% set total = 0 %}
                                    {% set groupLessonsTypeLoop = 0 %}
                                    {% for item in form.items if not item.vars.value.isPrivateLessonType %}
                                        <tr class="{% if item.vars.value.isReadyToGenerate %}success{% else %}warning{% endif %}">
                                            <td class="td-mark-group-helper">
                                                {{ form_widget(item.isReadyToGenerate) }}
                                                {{ form_errors(item.isReadyToGenerate) }}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {% if not item.vars.value.isPreviouslyGenerated %}
                                                    <span class="label label-success">{{ 'backend.admin.yes' | trans }}</span>
                                                {% else %}
                                                    <span class="label label-danger">{{ 'backend.admin.no' | trans }}</span>
                                                {% endif %}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {{ item.vars.value.studentName }}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {{ form_widget(item.units) }}
                                                {{ form_errors(item.units) }}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {{ form_widget(item.unitPrice) }}
                                                {{ form_errors(item.unitPrice) }}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {{ form_widget(item.discount) }}
                                                {{ form_errors(item.discount) }}
                                            </td>
                                            <td class="text-right" style="vertical-align:middle">
                                                <strong>{{ item.vars.value.total | draw_money | raw }}</strong>
                                            </td>
                                            {% set total = total + item.vars.value.total %}
                                            {% set groupLessonsTypeLoop = groupLessonsTypeLoop + 1 %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="active">
                                        <td>
                                            {{ groupLessonsTypeLoop }} {{ 'backend.admin.receipt.generator.ready' | transchoice(groupLessonsTypeLoop) }}
                                        </td>
                                        <th colspan="5" class="text-right">
                                            {{ 'backend.admin.student.total' | trans | upper }}
                                        </th>
                                        <th class="text-right">
                                            <strong>{{ total | draw_money | raw }}</strong>
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                                {# private lessons #}
                                <table class="table table-bordered table-condensed" style="margin-bottom:20px">
                                    <thead>
                                        <tr class="info">
                                            <th colspan="6" class="text-center">
                                                {{ 'backend.admin.receipt.private_lessons_list' | trans }}<br>
                                                <span style="font-weight:normal">{{ 'backend.admin.receipt.private_lessons_list_help' | trans }}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input id="mark-all-private-helper" type="checkbox" name="mark-all-private-helper">
                                            </th>
                                            <th>{{ 'backend.admin.receiptLine.isPreviouslyGenerated' | trans }}</th>
                                            <th>{{ 'backend.admin.student.student' | trans }}</th>
                                            <th>{{ 'backend.admin.invoiceLine.units' | trans }}</th>
                                            <th>{{ 'backend.admin.invoiceLine.priceUnit' | trans }}</th>
                                            <th class="text-right">{{ 'backend.admin.student.total' | trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% set total = 0 %}
                                    {% set privateLessonsTypeLoop = 0 %}
                                    {% for item in form.items if item.vars.value.isPrivateLessonType %}
                                        <tr class="{% if item.vars.value.isReadyToGenerate %}success{% else %}warning{% endif %}">
                                            <td class="td-mark-private-helper">
                                                {{ form_widget(item.isReadyToGenerate) }}
                                                {{ form_errors(item.isReadyToGenerate) }}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {% if not item.vars.value.isPreviouslyGenerated %}
                                                    <span class="label label-success">{{ 'backend.admin.yes' | trans }}</span>
                                                {% else %}
                                                    <span class="label label-danger">{{ 'backend.admin.no' | trans }}</span>
                                                {% endif %}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {{ item.vars.value.studentName }}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {{ form_widget(item.units) }}
                                                {{ form_errors(item.units) }}
                                            </td>
                                            <td style="vertical-align:middle">
                                                {{ form_widget(item.unitPrice) }}
                                                {{ form_errors(item.unitPrice) }}
                                            </td>
                                            <td class="hidden" style="vertical-align:middle">
                                                {{ form_widget(item.discount) }}
                                                {{ form_errors(item.discount) }}
                                            </td>
                                            <td class="text-right" style="vertical-align:middle">
                                                <strong>{{ item.vars.value.total | draw_money | raw }}</strong>
                                            </td>
                                            {% set total = total + item.vars.value.total %}
                                            {% set privateLessonsTypeLoop = privateLessonsTypeLoop + 1 %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="active">
                                        <td>
                                            {{ privateLessonsTypeLoop }} {{ 'backend.admin.receipt.generator.ready' | transchoice(privateLessonsTypeLoop) }}
                                        </td>
                                        <th colspan="4" class="text-right">
                                            {{ 'backend.admin.student.total' | trans | upper }}
                                        </th>
                                        <th class="text-right">
                                            <strong>{{ total | draw_money | raw }}</strong>
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col-sm-3">
                                        {{ form_row(form.generate) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_row(form.generate_and_send) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden">
                        {{ form_rest(form) }}
                    </div>
                {{ form_end(form) }}
            {% endif %}
            {% if form.items | length == 0 and year_month_form.vars.submitted %}
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">{{ 'backend.admin.receipt.list' | trans }}</h4>
                        </div>
                        <div class="box-body">
                            <div class="alert alert-warning"><i class="fa fa-warning"></i> {{ 'backend.admin.invoice.generator.no_records_found' | trans }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var markAllGroupHelperNode = jQuery('#mark-all-group-helper');
            markAllGroupHelperNode.on('ifChecked', function() {
                jQuery('td.td-mark-group-helper input').iCheck('check');
            });
            markAllGroupHelperNode.on('ifUnchecked', function() {
                jQuery('td.td-mark-group-helper input').iCheck('uncheck');
            });
            var markAllPrivateHelperNode = jQuery('#mark-all-private-helper');
            markAllPrivateHelperNode.on('ifChecked', function() {
                jQuery('td.td-mark-private-helper input').iCheck('check');
            });
            markAllPrivateHelperNode.on('ifUnchecked', function() {
                jQuery('td.td-mark-private-helper input').iCheck('uncheck');
            });
        });
    </script>
{% endblock %}
