{% extends 'Front/layout.html.twig' %}

{% form_theme contactMessageForm _self %}

{% block _contact_message_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="privacy_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="privacy_checkbox">
            Accepto la <a href="{{ path('app_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                {{ form_start(contactMessageForm) }}
                    {{ form_row(contactMessageForm.name) }}
                    {{ form_row(contactMessageForm.phone) }}
                    {{ form_row(contactMessageForm.email) }}
                    {{ form_row(contactMessageForm.message) }}
                    {{ form_row(contactMessageForm.privacy) }}
                    {{ form_rest(contactMessageForm) }}
                {{ form_end(contactMessageForm) }}
            </div>
            <div class="col-sm-6 col-sm-offset-1 col-md-7 col-sm-offset-1 text-center">
                <iframe src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_api_key }}&q=place_id:ChIJk0-vzHP-oBIRBya0lR_KnxE" width="100%" height="487" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    {% include ':Front/includes:notice_flash.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include ':Front/includes:scroll-to-flash-js.html.twig' %}
{% endblock %}
