{% extends 'Front/layout.html.twig' %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-5">
                {% include ':Front/includes:notice_flash.html.twig' %}
                {{ form_start(contactMessageForm) }}
                    {{ form_row(contactMessageForm.name) }}
                    {{ form_row(contactMessageForm.phone) }}
                    {{ form_row(contactMessageForm.email) }}
                    {{ form_row(contactMessageForm.message) }}
                    {{ form_rest(contactMessageForm) }}
                {{ form_end(contactMessageForm) }}
            </div>
            <div class="col-sm-7 no-m">
                <img src="{{ asset('bundles/app/img/front-contact-picture.png') | imagine_filter('480xY') }}" class="img-responsive" alt="contact picture">
            </div>
            </div>
    </div>
{% endblock %}
