{% extends 'Front/layout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">
                <img src="{{ asset('bundles/app/img/head.jpeg') | imagine_filter('2400xY') }}" class="img-responsive center-block" alt="head">
            </div>
        </div>
    </div>
    {# Teachers section #}
    <div class="container container-main">
        <div class="row">
            {% for teacher in teachers  %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        {% if teacher.imageName is not null %}
                            <img src="{{ vich_uploader_asset(teacher, 'imageFile') | imagine_filter('480xY') }}" class="img-responsive" alt="{{ teacher.imageName }}">
                        {% else %}
                            <img src="{{ asset('bundles/app/img/1teacher.jpeg') | imagine_filter('480xY') }}" alt="1teacher">
                        {% endif %}
                        <div class="caption">
                            <h2 class="{{ teacher.cssColor }}">{{ teacher.name }}</h2>
                            <p>{{ teacher.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {# Newsletter section #}
    <div class="p-vertical magenta-background">
        <div class="container">
            <div class="row normal-m-top">
                <div class="col-md-4">
                    <h2 class="c-white no-m-top">NEWSLETTER</h2>
                </div>
                {{ form_start(newsletterForm) }}
                <div class="col-md-4">
                    {{ form_row(newsletterForm.email) }}
                </div>
                <div class="col-md-4">
                    {{ form_rest(newsletterForm) }}
                </div>
                {{ form_end(newsletterForm) }}
            </div>
        </div>
    </div>
{% endblock %}
