{% extends 'Front/layout.html.twig' %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            {% for service in services %}
                <div class="col-sm-6 bottom-margin-responsive">
                    {% if service.imageName is not null %}
                        <img src="{{ vich_uploader_asset(service, 'imageFile') | imagine_filter('585xY') }}"
                             class="img-responsive img-rounded" alt="{{ service.imageName }}">
                    {% else %}
                        <img src="{{ asset('bundles/app/img/serveis.jpeg') | imagine_filter('585xY') }}" class="img-responsive img-rounded" alt="serveis">
                    {% endif %}
                    <h4 class="c-blue m-top-30 normal-m-bottom">{{ service.title }}</h4>
                    <p>{{ service.description | raw }}</p>
                </div>
                {% if loop.index is divisible by(2) %}
                    </div>
                    <div class="row extra-double-m-top">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
