{% extends "::Admin/show.html.twig" %}

{% block title %}
    {{ 'title_edit' | trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
{% endblock %}

{% block show %}
    <div class="sonata-ba-view">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'backend.admin.dates' | trans }}</h3>
                        </div>
                        <div class="box-body">
                            {{ form_row(form.begin) }}
                            {{ form_row(form.end) }}
                            <div class="form-group">
                                <label class="control-label">{{ 'backend.admin.event.dayFrequencyRepeat' | trans }}</label>
                                <p class="form-control-static">{% if firstEvent is not null %}{{ firstEvent.dayFrequencyRepeat }}{% else %}{{ object.dayFrequencyRepeat }}{% endif %} {{ 'backend.admin.event.dayFrequencyRepeat_help' | trans }}</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ 'backend.admin.event.until' | trans }}</label>
                                <p class="form-control-static">{% if firstEvent is not null %}{{ firstEvent.until | date('d/m/Y H:i') }}{% else %}{{ object.until | date('d/m/Y H:i') }}{% endif %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'backend.admin.general' | trans }}</h3>
                        </div>
                        <div class="box-body">
                            {{ form_row(form.classroom) }}
                            {{ form_row(form.teacher) }}
                            {{ form_row(form.group) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'backend.admin.event.students' | trans }}</h3>
                        </div>
                        <div class="box-body">
                            {{ form_row(form.students) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'backend.admin.event.timelapse' | trans }}</h3>
                            <h5 class="box-title"><small>{{ 'backend.admin.event.batch_delete.helper' | trans }}</small></h5>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="progress">
                                        {% if firstEvent is not null %}
                                            <div class="progress-bar progress-bar-danger progress-bar-striped" style="width:{{ progressBarPercentiles.first }}%">
                                                <span class="pull-left" style="margin-left:5px">{{ firstEvent.begin | date('d/m/Y H:i') }}</span>
                                            </div>
                                            <div class="progress-bar progress-bar-success" style="width:15%">
                                                <span class="pull-left" style="margin-left:5px">{{ object.begin | date('d/m/Y H:i') }}</span>
                                            </div>
                                            <div class="progress-bar progress-bar-success" style="width:{{ progressBarPercentiles.last }}%">
                                                <span class="pull-right" style="margin-right:5px">{{ lastEvent.begin | date('d/m/Y H:i') }}</span>
                                            </div>
                                        {% else %}
                                            <div class="progress-bar progress-bar-success" style="width:20%">
                                                <span class="pull-left" style="margin-left:5px">{{ object.begin | date('d/m/Y H:i') }}</span>
                                            </div>
                                            <div class="progress-bar progress-bar-success" style="width:80%">
                                                <span class="pull-right" style="margin-right:5px">{{ lastEvent.begin | date('d/m/Y H:i') }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-4 col-xs-offset-8">
                                    {{ form_row(form.range) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="sonata-ba-form-actions well well-small form-actions">
                        <button type="submit" class="btn btn-info" name="btn_update_and_edit"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ 'backend.admin.event.button.special_timelapse_update_action' | trans }}</button>
                        <a class="btn btn-success" href="{{ admin.generateObjectUrl('edit', object) }}" title="{{ 'backend.admin.event.button.switch_to_normal_edit' | trans({}, 'messages') }}"><i class="fa fa-save" aria-hidden="true"></i> {{ 'backend.admin.event.button.switch_to_normal_edit' | trans({}, 'messages') }}</a>
                        <a class="btn btn-danger" href="{{ path('admin_app_event_list') }}" title="{{ 'backend.admin.event.button.cancel' | trans({}, 'messages') }}"><i class="fa fa-times" aria-hidden="true"></i> {{ 'backend.admin.event.button.cancel' | trans({}, 'messages') }}</a>
                        {# timelapse buttons section #}
                        {% include ":Admin/Event:timelapse_buttons_section.html.twig" with {mode: 'batchedit'} %}
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
